@media (max-width: 480px) {
    .page-404 .number,
    .page-500 .number,
    .page-404 .details,
    .page-500 .details {
        text-align: center;
        margin-left: 0px;
    }
    .page-404-full-page .page-404 {
        margin-top: 30px;
    }
    .page-404-3 .error-404 {
        text-align: left;
        padding-top: 10px;
    }
    .page-404-3 .page-inner img {
        right: 0;
        bottom: 0;
        z-index: -1;
        position: fixed;
    }
}

