/* overide bootstrap */
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #e7ecf1;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fbfcfd;
}
/* end overide bootstrap */

.role-cell-w {
  width: 90px;
  text-align: center;
}

table .box.center {
  left: 25px;
}

table .check.center {
  left: 28px;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-right: 5px;
  }
  .form-inline {
    margin-bottom: 10px;
  }
}

.portlet.portlet-fullscreen {
  z-index: 1000;
}
