.wrapper-filter {
  display: flex;
  flex-flow: wrap;
}

.wrapper-filter .form-group {
  display: inline-block;
  margin-right: 5px;
  width: 19%;
  min-width: 120px;
}

.wrapper-filter .form-group .dropdown {
  width: 100%;
  min-width: auto;
}

.wrapper-filter .form-group .control-label {
  display: block;
}

/* List Grid */

.list-grid {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.list-grid .element-box {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  height: 128px;
  width: 170px;
  line-height: 23px;
  font-size: 15px;
  background-color: #3a4147;
}

.list-grid .element-box .element-background {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #000000;
}

.list-grid .element-box .element-control {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 3px;
  opacity: 0;
  cursor: default;
  transition: opacity 0.2s ease-in-out;
}

.list-grid .element-box .element-control a {
  padding: 4px 10px;
  color: #a2aab1;
  border-radius: 50% !important;
  border: 3px solid #a2aab1;
}

.list-grid .element-box .element-control a:hover {
  color: #fff;
  border-color: #fff;
}

.list-grid .element-box:hover .element-control {
  opacity: 1;
}

.list-grid .element-box .element-info {
  position: absolute;
  padding: 0px 5px;
  top: 80px;
  left: 0px;
  width: 100%;
  color: #a2aab1;
  font-size: 12px;
  height: 20px;
  background: #000000;
  pointer-events: none;
}

.list-grid .element-box .element-info .element-info--tag {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 11px;
  color: #ffffff;
  line-height: 16px;
  height: 16px;
  width: 50px;
  padding: 0;
  text-align: center;
  font-weight: normal;
}

.list-grid .element-box .element-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 6px;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
}
