.table-custom .portlet-body {
  padding-top: 8px;
}

.table-custom .portlet-body input.form-control {
  margin-left: 5px;
}

.table-custom .portlet-body select.form-control {
  display: inline-block;
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.table-custom .table {
  border-bottom: 2px solid #e7ecf1;
}

.table-custom .table-footer .info {
  padding-top: 8px;
  white-space: nowrap;
}

.table-custom .table-footer .pagination > li > a {
  user-select: none;
}

.table-custom .table .table-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border: 1px solid #e7ecf1;
  border-bottom: 0;
}

.table-custom .table .table-row.hight-light {
  background-color: #fbfcfd;
}

.table-custom .table .table-row:hover:not(:first-child) {
  background: #f3f4f6 !important;
}

.table-custom .table .cell {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 18px;
  border-right: 1px solid #e7ecf1;
}

.table-custom .table .cell.th {
  cursor: pointer;
  user-select: none;
}

.table-custom .table .cell.th.sorting {
  background: url(#{$imagePath}/datatables/sort_both.png) center right no-repeat;
}

.table-custom .table .cell.th.sorting_asc {
  background: url(#{$imagePath}/datatables/sort_asc.png) center right no-repeat;
}

.table-custom .table .cell.th.sorting_desc {
  background: url(#{$imagePath}/datatables/sort_desc.png) center right no-repeat;
}

.table-custom .table .cell.th.sorting_asc_disabled {
  background: url(#{$imagePath}/datatables/sort_asc_disabled.png) center right
    no-repeat;
}

.table-custom .table .cell.th.sorting_desc_disabled {
  background: url(#{$imagePath}/datatables/sort_desc_disabled.png) center right
    no-repeat;
}

.table-custom .table .cell.td {
  padding: 8px 10px;
}

.table-custom .table .cell .cell-header {
  display: none;
}

.table-custom .table .cell.overflow-none {
  overflow: initial;
}

.table-custom .table .cell > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-custom .table .cell > strong {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.table-custom .table.col-1 .cell {
  width: calc(100% / 1);
}

.table-custom .table.col-2 .cell {
  width: calc(100% / 2);
}

.table-custom .table.col-3 .cell {
  width: calc(100% / 3);
}

.table-custom .table.col-4 .cell {
  width: calc(100% / 4);
}

.table-custom .table.col-5 .cell {
  width: calc(100% / 5);
}

.table-custom .table.col-6 .cell {
  width: calc(100% / 6);
}

.table-custom .table.col-7 .cell {
  width: calc(100% / 7);
}

.table-custom .no-result {
  display: flex;
  border: 1px solid #e7ecf1;
  border-bottom: 0;
  border-right: 2px solid #e7ecf1;
  justify-content: center;
}

.table-custom .wrapper-action {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-custom .wrapper-action li {
  display: inline-block;
}

.table-custom .wrapper-action a {
  padding: 5px;
  margin-right: 10px;
}

@media (max-width: 480px) {
  .table-custom .table .table-row {
    flex-direction: column;
    border-bottom: 1px solid #e7ecf1;
    margin-top: 20px;
  }

  .table-custom .table .table-row:first-child {
    display: none;
  }

  .table-custom .table .cell {
    width: 100% !important;
  }

  .table-custom .table .cell.td {
    display: inline-flex;
    padding: 0;
    border-bottom: 1px solid #e7ecf1;
  }

  .table-custom .table .cell > div {
    padding: 8px 10px;
  }

  .table-custom .table .cell > div:last-child {
    flex: 2;
  }

  .table-custom .table .cell .cell-header {
    display: inline-flex;
    flex: 1;
    border-right: 1px solid #e7ecf1;
    font-weight: 600;
  }
}
