.toast {
    border-radius: 3px!important;
}
.toast .toast-close-button {
    font-family: "LineAwesome";
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    outline: none !important;
    font-size: 0; }
.toast .toast-close-button:before {
    content: ""; }
.toast .toast-close-button:before {
    font-size: 1.1rem; }

.toast-success {
    background-color: #34bfa3;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    -moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ; }

#toast-container > div {
    box-shadow: 0 0 12px #999999;
}
#toast-container > div:hover {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ; }

.toast-warning {
    background-color: #ffb822;
    color: #111111;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    -moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ; }

#toast-container > div:hover {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ; }

.toast-info {
    background-color: #36a3f7;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    -moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ; }

#toast-container > div:hover {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ; }

.toast-error {
    background-color: #f4516c;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    -moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ;
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) ; }

#toast-container > div:hover {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ;
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.3) ; }
