.btn-circle {
  $size: 38px;

  width: $size;
  height: $size;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 1.7em;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &.active,
  &:focus,
  &:active:focus,
  &:active,
  &:hover,
  &:hover[disabled]
  {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

.ladda-button  {
  i.fa {
    line-height: 1;
  }
}