.react-contexify {
  z-index: $context-menu-z-index;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.dropdown-menu.context-menu {
  display: block;
  position: static;
  margin-top: 0;

  i {
    vertical-align: baseline;
    margin-right: 5px;
  }
}