$item-per-row: 5;

.file-item {
  position: relative;
  display: inline-block;
  cursor: hand;
  cursor: pointer;
  width: (100%/$item-per-row);

  .file-item__inner {
    padding: 10px 0 0;
    text-align: center;
    transition: all 0.2s ease-in-out;
    @extend .hoverable;
    @include hover-light();
    &:hover{
      cursor: move;
      border-radius: 4px!important;
    }
  }

  .file-item__thumbnail {
    text-align: center;
    width: 100%;
    opacity: 1;
    transition: .2s opacity ease-in-out;
    img {
      width: 25px;
      height: 25px;
      object-fit: cover;
      object-position: center;

    }
    i {
      line-height: 1;
      font-size: 25px;
    }
  }
  .file-item__info {
    padding: 5px;
    font-size: 0.8em;
    p {
      margin: 0 0 5px;
    }
    .file-item_name {
      line-height: 1.3;
      height: 1.3em*2;
      overflow: hidden;
      word-break: break-word;
    }
  }
}
