.format-builder {
  margin-bottom: 100px;
  .format-builder__inner {
    margin-top: 30px;
  }


  .format-builder__canvas {
    min-height: 477px;
    background-color: #dfdfdf;
    border: 2px dashed rgba($light-black,0.1);
    position: relative;
    padding-bottom: 80px;
  }


  // Tools bar
  .format-builder__controls-bar {
    &.is--fixed {
      top: $header-height!important;
    }
  }

  .scrollarea {
    max-height: calc(100vh - #{$header-height - $footer-height} - 80px);
    .portlet-body {
      padding-bottom: 50px;

      .haft-gutters{
        padding: 0 20px;
      }
    }
  }

  .format-tool-item {
    padding: 8px;
    margin-bottom: 15px;
    background-color: #fff;
    @include hover-light;
    @include drop-shadow;
    @extend .hoverable;

    &:hover {
      cursor: move;
    }


    span {
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      i {
        color: $secondary-color;
        font-size: 1.8em;
      }
    }
    p {
      text-align: center;
      font-size: 13px;
      margin-bottom: 10px;
      line-height: 1.4em;
      height: 2.8em;
    }
  }
}



.format-rule {
  min-height: 80px;
  background-color: #fff;
  font-size: 18px;
  display: flex;
  /*justify-content: center;*/
  padding: 0 10px;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;

  p {
    margin: 0;
  }

  .format-rule__actions {
    position: absolute;
    top: 5px;
    right: 8px;
    z-index: 1;
    text-align: right;
    button {
      border:none;
      outline: none;
    }
    .fa {
      line-height: 1;
      font-size: 0.9em;
      @include hover-light;
    }
  }

}

.format-rule-placeholder {
  min-height: 80px;
  border: 1px dashed $primary-color;
  background-color: rgba($primary-color,0.3);
}
.format-rule .element-builder{
  width: 100%;
  margin: 20px 5px;

  .title{
    padding: 5px 0;
    font-weight: bold;
    font-size: 17px;
  }
  .child-title {
    font-size: 15px;
    margin-bottom: 5px;
  }
  span.selected {
    font-size: 15px;
    margin-left: 5px;
  }
  .eventblock-time{
    font-size: 15px;
    padding: 0 5px;
  }
  .input{
    width: 100%;
    font-size: 15px;
    height: 33px;
    padding: 0 5px;
  }
  .error{
    border: solid 1px #a94442;
  }
  .error-msg{
    color: #a94442;
    font-size: 15px;
  }
  button{
    white-space: normal;
  }
}

.container-rule {
  .format-builder__canvas {
    min-height: 200px;
    border-width: 1px;
  }
}