/*Datetime picker*/
.rd-container {
  font-size: 16px;
  z-index: 99999;
}

.rd-day-body {
  padding: 5px;
}

.rd-time-selected {
  background-color: $primary-color;
}

.rd-day-selected {
  background-color: $primary-color;
}
.form .form-actions {
  border-top: 0;
}
.input-group--fix-height {
  > div {
    height: 38px;
    input {
      height: 38px;
    }
  }
}

.flex-wrapper-inline {
  display: inline-flex;
  width: 300px;
}

.btn-square {
  padding: 0 15px;
}