/*
BLOCK LOADING --- STYLE
*/


.block-loading {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  .m-blockui {
    display: inline-block;
    > span {
      font-size: 14px;
    }
  }
}

.wrapper-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 120;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-blockui {
  box-shadow: none;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

