.fade.in{
  display: block!important;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 70px auto;
  }
}

.modal-dialog {
  .form .form-actions {
    background-color: transparent;
  }
  .modal-title > strong{
    font-weight: 600;
  }
}