$video-thumbnail-ratio: 16/9;


.thumbnail-smooth-hover {
  position: relative;
  @include breakpoint(lg) {
    &:hover {
      &:after {
        opacity: 1;
      }
      &:before {
        opacity: 0.6;
      }
      img {
        transform: scale(1.15);
      }
    }
  }
  img {
    transition: transform 0.2s ease-out;
  }
  &:after {
    //nc-o media-1_button-circle-play
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    //background: url(/img/video-play-icon.png) no-repeat;
    opacity: 0;
    background-size: 100% 100%;
    width: 55px;
    height: 55px;
    content: ' ';
    transform: translate(-50%, -50%);
    transition: opacity 0.2s linear;
  }
  &:before {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0;
    top: 0;
    bottom: 0;
    content: ' ';
    z-index: 1;
    transition: opacity 0.2s linear;
  }
}


.video-card {
  .video__thumbnail {
    position: relative;
    display: block;
    margin-bottom: 10px;
    @include responsive-block($video-thumbnail-ratio);

    img {
      object-fit: cover;
      object-position: center;
      border: 0;
      background-color: #f3f3f3;
      width: 100%;
    }

    .play-icon {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      font-size: 3.8rem;
      color: #ffffff;
    }

    .minutes {
      width: 60px;
      height: 20px;
      line-height: 20px;
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 3px;
      background-color: transparent;
      color: #ffffff;
      text-align: center;
      font-size: 12px;
    }
  }
  .video__title {
    display: block;
    margin-top: 13px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42;
    max-height: 2.84em;
    overflow: hidden;
  }

  .video__meta {
    margin-top: 8px;
    color: #696969;
    font-size: 14px;
    line-height: 1.45;
    @include clearfix;
    a:not(:last-child),
    span:not(:last-child) {
      padding-right: 15px;
    }
    i {
      font-size: 1.1em;
      padding-right: 10px;
      vertical-align: middle;
    }
    .video__views-number {
      font-weight: 500;
      i {
        font-size: 1.2em;
      }
    }
    .video__category {
      display: inline-block;
    }
  }
}


.horizontal-video-card {
  margin: 20px 0;
  color: #000;
  display: flex;
  background-color: #ffffff;
  line-height: 1.4;
  width: 100%;
  //
  //> * {
  //  display: table-cell;
  //  vertical-align: top;
  //}

  .video__thumbnail {
    position: relative;
    display: block;
    overflow: hidden;
    width: 40%;
    opacity: 1 !important;

    .video__thumbnail-responsive {
      border: 1px solid rgba(0,0,0,0.1);
      position: relative;
      @extend .thumbnail-smooth-hover;
      @include responsive-block($video-thumbnail-ratio);
    }

    &:after {
      display: none;
      width: 35px;
      height: 35px;
    }

    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
    .play-icon {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      font-size: 22px;
      color: #ffffff;
    }
    .minutes {
      width: 60px;
      height: 19px;
      line-height: 19px;
      position: absolute;
      z-index: 1;
      right: 3px;
      bottom: 3px;
      background-color: transparent;
      color: aquamarine;
      text-align: center;
      font-size: 12px;
      border-radius: 2px;
    }
  }
  .video__block {
    padding: 5px 15px;
    text-align: left;
  }
  .video__title {
    color: inherit;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3px;
    display: block;
    max-height: 3.84em;
    line-height: 1.3;
    overflow-y: hidden;
  }
  .video__meta {
    font-size: 13px;
    color: #696969;
    a {
      display: block;
    }
    :last-child {
      font-weight: 500;
    }
  }
  .video__category {
    margin-bottom: 5px;
  }
}

.resource-video-card {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 15px;
  margin: 0;
  padding-bottom: 15px;

  &:hover {
    background-color: aliceblue;
  }
  .video__thumbnail {
    width: 40px;
    .resource-icon {
      position: absolute;
      height: auto;
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 30px;
    }
    .video__thumbnail-responsive {
      background-color: transparent;
      &:hover:before {
        background-color: #fff;
        opacity: 0.3;
      }
      > img {
        width: 30px;
        height: 30px;
        transform: scale(1.15) translate(-50%, -50%)!important;
      }
    }
  }

  .video__block {
    padding-left: 15px;
    flex: 1;
  }
  .video__title {
    line-height: 1.3em;
    max-height: 3*1.3em;
    overflow-y: hidden;
  }
  .video__meta {
    color: #858585;
    i {
      color: #19242c;
    }

  }
}

.playlist-video-card {
  .video__thumbnail {
    background-color: #292d32;
    &:hover.thumbnail-smooth-hover:before {
      background-color: #fff;
      opacity: 0.3;
    }
    i {
      position: absolute;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: white;
    }
  }
}