// Custom style for some controls

.smart-form {
  .form-control--select2 {
    &.has-error {
      .control__input {
        position: relative;
        padding-bottom: 25px;
        .help-block {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  .has-error .select2-dropdown, .has-error .select2-selection {
    border-color: $form-error-color;
  }
  .help-block.help-block--not-error {
    color: #737373;
  }
  .mt-radio, .mt-checkbox {
    margin-bottom: 10px;
  }
}