.form-wizard {
  .steps {
    margin-bottom: 5px;
    > li > a.step {
      padding-top: 0;
      padding-bottom: 0;
      > .number {
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
      }
    }
  }
  .progress {
    height: 10px;
    margin-bottom: 20px;
  }
}

.step-layout {
  &.portlet {
    padding-top: 20px;
    > .portlet-title > .caption {
      font-size: 15px;
    }
  }

  a.fullscreen {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 10px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 30px;
    i {
      font-size: 20px;
      color: #a0a0a0;
    }
  }
}
