$sp-color: #bcbcbb;
$content-track-color: rgba(0, 0, 0, 0.3);
$content-color: #e95858;
$overlay-color: $primary-color;
$resize-width: 10px;

.react-calendar-timeline {
  .rct-today {
    width: 1px;
    z-index: 1;
  }
  .rct-header-container {
    z-index: 10;
  }
  .rct-sidebar .rct-sidebar-row {
    padding: 0;
    overflow: visible;

    &.rct-sidebar-row-odd {
      border-bottom: 1px solid $sp-color;
      padding-bottom: 1px;
    }
  }

  .type-group {
    h4 {
      font-size: 14px;
      text-align: center;
    }
    text-transform: capitalize;
  }
  .day-group {
    text-align: center;
  }

  .rct-header .rct-label {
    text-align: left;
    padding-left: 5px;
  }
  .rct-item {
    border-color: transparent;
    z-index: 1;
    &.selected {
      border-color: #f5d327;
      &.can-resize-right {
        border-right-width: $resize-width;
        .rct-item-content {
          position: relative;
          &:after {
            cursor: ew-resize;
            position: absolute;
            right: -$resize-width;
            top: 0;
            width: 10px;
            height: 100%;
            content: ' ';
            background-color: rgba(255, 255, 255, 0.001);
          }
        }
      }
    }

    &.marked-active {
      border-color: red !important;
    }

    &:not(.selected) {
      border: 1px solid $primary-color
    }

    .rct-item-content {
      padding: 0;
    }

  }

  .rct-header-container.header-sticky {
    top: 50px !important;
  }

  /*Horizontal lines, vertical lines*/
  .rct-vertical-lines {
    opacity: 0.1;
  }

  .rct-horizontal-lines {
    & > * {
      &.row-drag-over {
        background: rgba(0, 0, 0, 0.4);
      }
    }

    //content
    .rct-hl-odd {
      border-bottom: 1px solid $sp-color;
      background-color: $content-track-color;

      .rct-item.can-move.can-resize {
        &:not(.selected) {
          border: 1px solid $content-color
        }
      }
    }

    .rct-hl-even,
    .rct-hl-odd {
      &:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.timeline-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding: 5px;
  line-height: 1.4;
  &.timeline-item--adding {
    opacity: 0.8;
    cursor: wait;
  }
  i {
    font-size: 1.3em;
  }
  p {
    margin: 0;
  }
}

.timeline-weekview {
  .rct-infolabel {
    display: none;
  }
  .rct-sidebar .rct-sidebar-row {
    border-bottom: none;
  }

  .rct-horizontal-lines {
    .rct-hl-even {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

  }
}

.timeline-sidebar__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 15px;
  background-color: #24282c;;
}

.timeline-page {
  .timeline-button-group {
    .mb-1 {
      width: 100px;
      float: left;
    }

  }
  .special-block-buttons {
    > a {

      &:hover {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
        cursor: move;
      }
    }
  }
}

.day-group {
  height: 100%;
  padding: 10px 0;
  text-align: center;
  transform: translateY(13px);
  margin-bottom: -10px;
}

.view-type-buttons {
  margin-top: 4px;
}

// range
.playlist-active-range {
  pointer-events: none;
  top: 0 !important;
  height: 100% !important;
  border-color: #0aff82;
  border-width: 1px;
  background-color: rgba(63, 81, 181, 0.2);
  z-index: 0;

  &.playlist-active-range--highlight {
    background-color: rgba(255, 17, 0, 0.2);
  }
}

// resource info bar
.resource-info-bar {
  padding: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #adadad;
  line-height: 1.2;
  background-color: #e6e6e6;

  img.resource-icon {
    width: 25px;
    margin-right: 12px;
  }

  i.resource-icon {
    font-size: 25px;
    margin-right: 12px;
  }

  .col-title {
    max-width: 40%;
    padding-right: 15px;
    display: flex;
    align-items: center;
    .media-title {
      font-size: 15px;
      font-weight: normal;
      display: inline-block;
      line-height: 1.3;
      max-height: 2.6em;
      overflow: hidden;
    }

  }
  .metaphors {
    > span {
      font-size: 13px;
      line-height: 1.4;
      @include not-last() {
        margin-right: 10px;
      }
      i {
        font-size: 1.3em;
        margin-right: 5px;
        &.fa-file {
          font-size: 1.2em;
        }
      }
    }
  }
  .col-right {
    height: 100%;
    margin-left: auto;
    @include v-center();
  }

  /**
  When unselected
   */
  &.resource-info-bar--unselected {
    .col-title {
      .media-title {
        font-weight: 500;
      }
    }
  }
}

.msg-verify {
  font-size: 14px;
  font-weight: 500;
}

.playlist-time {
  margin-left: 10px;
  font-size: 14px;
  span {
    display: block;
  }
}


