.uploading-list {

  .rc-progress-line-path,
  .rc-progress-line-trail{
    stroke-width: 1;
  }

  span {
    font-size: 16px;
    color: #8f8f8f;
  }
  .uploader-box__inner {
    border: 1px solid #dfdfdf;
    padding: 15px 15px 30px 15px;
    text-align: center;
  }

  ul {
    margin: 20px 0 0;
    padding-left: 0;


    li {
      @include list-enter(15px);
      list-style: none;
      .uploader__img {
        float: left;
        width: 60px;
        height: 60px;
        margin-right: 10px;
        background-color: #606060;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .uploader__info {
        display: block;
        overflow: hidden;
        font-size: 14px;
        padding-right: 50px;
        position: relative;
        text-align: center;
        i {
          position: absolute;
          right: 15px;
          top: 20px;
          font-size: 16px;
          padding: 5px;
          cursor: hand;
          cursor: pointer;
        }
      }
    }
  }

}

.rc-progress-line-path {
  stroke: $primary-color;
}
.rc-progress-line-path,
.rc-progress-line-trail{
  stroke-width: 2;
}

.uploader-box {
  margin: 25px 0 40px 0;
  .uploader__drop-zone {
    margin-top: 20px;
    text-align: center;
    > div {
      height: 300px;
      border: 2px dashed #dfdfdf;
      border-radius: 4px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 20px;
      }
      span {
        display: block;
        color: #606060;
        margin-top: 10px;
        font-size: 16px;
      }
    }
    .notices-upload > span {
      font-size: 14px;
    }
  }

  .uploader__btn {
    display: block;
    width: 325px;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    margin: 10px auto 0 auto;
  }
  .uploader--error {
    .uploader__info {
      span:not(.remove-btn) {
        color: #ff1f4b;
      }
    }
  }
}

@include breakpoint(sm) {
  .uploader-box {
    .uploader__title {
      font-size: 20px;
    }
    .uploader__drop-zone {
      padding: 0 15px;
      > div {
        display: none;
      }
    }
    .uploader__btn {
      line-height: 40px;
      margin: 0 auto;
    }
    ul {
      margin: 0;
      li {
        .uploader__img {

        }
        .uploader__info {
          padding-right: 40px;
          span:not(.remove-btn) {
            font-size: 12px;
          }
          i {
            right: 0;
            top: 10px;
          }
        }

      }

    }
  }

}