.channel-overview-page {

  // override timeline
  .overview-form {
    position: relative;
    z-index: 100;
  }
  .resource-info-bar {
    background-color: #f3f3f3;
    border: 0;

  }
  .section-overview {
    .wrapper-loading {

    }
  }

  .panel .panel-body{
    font-size: 15px;
  }
  .panel-title {
    .accordion-toggle {
      font-size: 16px;
    }
  }

  .channel-week-overview {
    .table {
      th {
        background-color: #eaeaea;
        padding: 5px 10px;
        width: 20%;
      }
      td {
        padding: 10px 10px;
      }
    }
  }

  .playlist-slide-out {
    .tools {
      .fa {
        opacity: 0.5;
        font-size: 18px;
      }
    }
  }
  .panel-default>.panel-heading {
    background-color: #EAEAEA;
  }

}

.channel-overview-calendar {
  h3 {
    font-size: 18px;
    font-weight: 500;
  }

  th.fc-day-header {
    font-size: 16px;
    font-weight: 300;
    padding: 15px 0;
  }

  td.fc-day {
    padding: 5px;
    min-height: 300px;
  }

  .fc-bg {
    position: relative;
    table {
      min-height: 300px;
    }
  }

  .playlist-group {
    box-shadow: 0 1px 15px 1px rgba(69,65,78,0.08);
    position: relative;
    margin-bottom: 20px;

    // green line
    &:after {
      content: ' ';
      border-radius: 10px;
      top: 30px;
      bottom: 21px;
      left: 10px;
      width: 2px;
      background-color: $primary-color;
      position: absolute;
    }

    .playlist-name {
      display: inline-block;
      font-weight: 600;
      font-size: 13px;
    }
    .time {
      font-size: 13px;
      font-weight: lighter;
      margin-right: 5px;
    }

    .playlist-card__info {
      text-decoration: none!important;
      display: block;
      padding: 15px 5px 0;
      i {
        vertical-align: center;
        padding-right: 7px;
        font-size: 15px;
        color: $primary-color;
      }
    }

    .playlist-card__body {
      padding: 0 10px 10px;
    }

    .playlist-card__resource {
      padding-left: 10px;
      margin: 15px 0;
      cursor: hand;
      cursor: pointer;
      @include hover-light;

      &:last-child {
        margin-bottom: 0;
      }
      .resource-name {
        font-size: 13px;
      }

      .time {
        position: relative;
        font-size: 12px;

        // green dot
        &:before {
          content: ' ';
          display: inline-block;
          background-color: #64a3d8;
          width: 7px;
          height: 7px;
          border-radius: 100%;
          position: absolute;
          z-index: 1;
          left: -13px;
          top: 50%;
          transform: translate(0.5px,-50%);

        }
      }

      &.content {
        .time:before {
          background-color: #e74f59;
        }
      }
    }
  }
}

.resource-tooltip {
  padding: 10px 5px 5px;
  min-width: 250px;
  max-width: 400px;
  text-align: left;
  > span {
    display: block;
    margin-bottom: 10px;
  }
}
.fc-unthemed td.fc-today {
  background-color: transparent;
  .playlist-group {
    background: #eafafb;
  }
}