.react-datepicker-wrapper{
    width: 100%;
}
.react-datepicker__input-container{
    width: 100%;
}

.react-datepicker-popper {
    float: left;
    width: 100%;
    font-size: 11px;
}
.rc-time-picker-input {
    border: none;
    padding: 0;
    height: auto;
    font-size: 13px;
}