.new-import-form .input{
  width: 100%;
}
.new-import-form .has-error .dropdown{
  border-color: #a94442;
}
.button-import{
  margin-left: 15px;
}
.pagination-import-page {
  margin: 5px 0;
}
.pagination-import-page .input{
  width: 100%;
}
.pagination-import-page label{
  padding-top: 6px;
}

.filter-form .form-group{
  width: 30%;
  float: left;
}
.filter-form .form-group .control__input{
  width: 60%!important;
}
.filter-form .form-group .control-label{
  text-align: left!important;
  width: auto!important;
  line-height: 30px;
}
.filter-form .smart-form__actions{
  margin-left: 0!important;
  padding-left: 0!important;
}
.filter-form .has-error .dropdown{
  border-color: #a94442;
}
@media screen and (max-width:360px) {
  .filter-form .form-group{
    width: 100%;
  }
}