@media (max-width: 480px) {
    /***
    Login page
    ***/
    .login .logo {
        margin-top: 10px;
    }
    .login .content {
        padding: 30px;
        width: 222px;
    }
    .login .content h3 {
        font-size: 22px;
    }
    .login .checkbox {
        font-size: 13px;
    }
}
