.resources {
  .page-content-wrapper .page-content {
    min-height: 700px;
  }
}
.active-row{
  background: #f3f4f6 !important;
}

.popup-custom .cell > div + div {
  width: 100%;
}

.popup-custom .cell > div + div > label {
  padding-left: 0;
  left: 0;
}

.popup-custom .cell > div + div > label > span{
  border: 1px solid #9f9fa7!important;
}

.tree-folder .rc-tree-node-content-wrapper {
  background: none;
  border: none;
}
