.hoverable {
  transition: box-shadow .25s;
}

.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.has-shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  background-color: #ffffff;
}

.flashing{
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s infinite;
}

/**
Keyframes
 */


@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  45% {
    transform: translate(-50%, -140px);
    animation-timing-function: ease-in;
  }
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}