html {
  font-size: 15px;
}

body {
  line-height: 1.4;
}

.no-padding {
  padding: 0!important;
}

.no-margin {
  margin: 0!important;
}

.page-content {
  min-height: 100vh;
}

.mb-05 {
  margin-bottom: 5px!important;
}

.toast-bottom-right{
  bottom: 35px !important;
}

.hand {
  cursor: hand;
  cursor: pointer;
}

.hover-link {
  @include hover-light();
}

.no-event {
  pointer-events: none;
}

.not-allowed {
  cursor: not-allowed;
  * {
    pointer-events: none;
  }
}

// fix media body
.media-body {
  max-width: 100%;
  width: 100%;
}

.d-flex {
  display: flex;
}

.bg-transparent {
  background-color: transparent!important;
}

.portlet:not(.portlet-fullscreen) {
  position: relative;
}
.portlet-fullscreen {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
span {
  > i {
    margin-right: 5px;
  }
}

a {
  color: inherit;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.haft-gutters {
  margin-right: -7px;
  margin-left: -7px;

  > .col,
  > [class*="col-"] {
    padding-right: 7px;
    padding-left: 7px;
  }
}

.page-footer{
  background: #384350;
  position: relative;
}

.popup-custom{
  width: 70%;
  height: 50%;
}
.popup-placeholder-block{
  width: 50%;
  height: 60%;
  margin: 0 auto;
}

.rc-time-picker-panel{
  z-index: 99999;
}

.alert.m-alert--icon .m-alert__text {
  padding: 10px 22px;
}