@mixin breakpoint($min: 0, $max: 0) {
    $type: type-of($min);
    @if $type == string {
        $class: $min;
        @if $class == xs {
            @media (max-width: 575px) {
                @content;
            }
        } @else if $class == sm {
            @media (max-width: 767px) {
                @content;
            }
        } @else if $class == md {
            @media (max-width: 991px) {
                @content;
            }
        } @else if $class == lg {
            @media (max-width: 1199px) {
                @content;
            }
        } @else if $class == sm-up {
            @media (min-width: 576px) {
                @content;
            }
        } @else if $class == md-up {
            @media (min-width: 768px) {
                @content;
            }
        } @else if $class == lg-up {
            @media (min-width: 992px) {
                @content;
            }
        } @else if $class == hlg-up {
            @media (min-width: 1200px) {
                @content;
            }
        } @else {
            @warn "Breakpoint mixin supports: xs, sm, md, lg, mxs, msm, mmd, mlg";
        }
    } @else if $type == number {
        $query: "all" !default;
        @if $min != 0 and $max != 0 {
            $query: "(min-width: #{$min}) and (max-width: #{$max})";
        } @else if $min != 0 and $max == 0 {
            $query: "(min-width: #{$min})";
        } @else if $min == 0 and $max != 0 {
            $query: "(max-width: #{$max})";
        }
        @media #{$query} {
            @content;
        }
    }
}

@mixin hover-light() {
    cursor: pointer;
    cursor: hand;
    &.active {
        color: $primary-color;
    }
    @include breakpoint(md-up) {
        &:hover {
            color: $primary-color;
        }
    }
    @include breakpoint(md) {
        &:active {
            color: $primary-color;
        }
    }

}

@mixin hover-opacity() {
    cursor: pointer;
    cursor: hand;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    @include breakpoint(md-up) {
        &:hover {
            opacity: 0.6;
        }
    }
    @include breakpoint(md) {
        &:active {
            opacity: 0.6;
        }
    }
}

@mixin hover-mobile() {
    @include breakpoint(md-up) {
        &:hover {
            @content;
        }
    }
    @include breakpoint(md) {
        &:active {
            @content;
        }
    }
}

@mixin clearfix() {
    .fuck,
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin last() {
    -webkit-box-sizing: inherit;
    &:last-child {
        @content;
    }
}

@mixin not-last() {
    .fuck,
    &:not(:last-child) {
        @content;
    }
}

@mixin list-space($value) {
    @include not-last {
        margin-right: $value;
    }
}

@mixin list-enter($value) {
    @include not-last {
        margin-bottom: $value;
    }
}

@mixin self-clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin v-center() {
    display: flex;
    align-items: center;
}

@mixin drop-shadow() {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

@mixin responsive-block($ratio) {
    height: 0;
    position: relative;
    padding-bottom: 100%/$ratio;
    display: block;
    background-color: #f0f0f0;
    overflow: hidden;
    > .responsive-block-item,
    > img {
        position: absolute;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.thumbnail-smooth-hover {
    position: relative;
    &:hover {
        &:after {
            opacity: 1;
        }
        &:before {
            opacity: 0.6;
        }
        img {
            transform: scale(1.15);
        }
    }
    img {
        transition: transform 0.2s ease-out;
    }
    &:after {
        //nc-o media-1_button-circle-play
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        background: url(/img/video-play-icon.png) no-repeat;
        opacity: 0;
        background-size: 100% 100%;
        width: 55px;
        height: 55px;
        content: ' ';
        transition: opacity 0.2s linear;
        transform: translate(-50%, -50%);
    }
    &:before {
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0;
        top: 0;
        bottom: 0;
        content: ' ';
        z-index: 1;
        transition: opacity 0.2s linear;
    }
}

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
            eot: "?",
            svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
            otf: "opentype",
            ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
