// Paths
$imagePath: '../images';

//z-index
$context-menu-z-index: 1000;

// Colors
$primary-color: #36c6d3;
$form-error-color: #a94442;
$light-black: #333;
$sidebar-color: #374150;
$secondary-color: #2c3743;

//Dimensions
$header-height: 50px;
$footer-height: 32px;
