.fade-block  {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &.fade-block--in {
    opacity: 1;
    pointer-events: initial;
    cursor: wait;
  }

  &.fade-block--out {
    opacity: 0;
    pointer-events: none;
  }
}